<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://use.fontawesome.com/9972af634f.js"></script>
<div class="col-xs-12">
    <div class="w3-display-container">
        <img src="{{re.images[0]}}" class="img-responsive" style="height:300px;" />
        <!--<a href={{re.url}}>{{re.source}}</a>-->
    </div>
    <div class="col-xs-12 w3-container w3-center">
        <p>&#3647;{{re.price}}</p>
        <p>{{re.name}}</p>

        <div>{{re.size}}</div>

        <div>{{re.sizeTotal/4}} sq.m.</div>

        <!--<div>{{re.code}}</div>
        <div>{{re.sizeTotalUnit}}</div>
        <div>{{re.sizeTotalText}}</div>
        <div>{{re.bedRoom}}</div>
        <div>{{re.  bathRoom}}</div>
        <div>{{re.storeys}}</div>
        <div>{{re.parkingSpace}}</div>
        <div>{{re.desc}}</div>-->
    </div>
</div>

























































































<!--<pre>
{{form.value | json}}
    </pre>

<pre>
{{res | json}}
    </pre>
<h4>Submitted</h4>
<pre>
{{value | json }}
    </pre>-->
