<select class="form-control">
    <option selected="selected" value="">- ทั้งหมด -
    <option value="กระบี่">กระบี่</option>
    <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
    <option value="กาญจนบุรี">กาญจนบุรี</option>
    <option value="กาฬสินธุ์">กาฬสินธุ์</option>
    <option value="กำแพงเพชร">กำแพงเพชร</option>
    <option value="ขอนแก่น">ขอนแก่น</option>
    <option value="จันทบุรี">จันทบุรี</option>
    <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
    <option value="ชลบุรี">ชลบุรี</option>
    <option value="ชัยนาท">ชัยนาท</option>
    <option value="ชัยภูมิ">ชัยภูมิ</option>
    <option value="ชุมพร">ชุมพร</option>
    <option value="เชียงราย">เชียงราย</option>
    <option value="เชียงใหม่">เชียงใหม่</option>
    <option value="ตรัง">ตรัง</option>
    <option value="ตราด">ตราด</option>
    <option value="ตาก">ตาก</option>
    <option value="นครนายก">นครนายก</option>
    <option value="นครปฐม">นครปฐม</option>
    <option value="นครพนม">นครพนม</option>
    <option value="นครราชสีมา">นครราชสีมา</option>
    <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
    <option value="นครสวรรค์">นครสวรรค์</option>
    <option value="นนทบุรี">นนทบุรี</option>
    <option value="นราธิวาส">นราธิวาส</option>
    <option value="น่าน">น่าน</option>
    <option value="บึงกาฬ">บึงกาฬ</option>
    <option value="บุรีรัมย์">บุรีรัมย์</option>
    <option value="ปทุมธานี">ปทุมธานี</option>
    <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
    <option value="ปราจีนบุรี">ปราจีนบุรี</option>
    <option value="ปัตตานี">ปัตตานี</option>
    <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
    <option value="พะเยา">พะเยา</option>
    <option value="พังงา">พังงา</option>
    <option value="พัทลุง">พัทลุง</option>
    <option value="พิจิตร">พิจิตร</option>
    <option value="พิษณุโลก">พิษณุโลก</option>
    <option value="เพชรบุรี">เพชรบุรี</option>
    <option value="เพชรบูรณ์">เพชรบูรณ์</option>
    <option value="แพร่">แพร่</option>
    <option value="ภูเก็ต">ภูเก็ต</option>
    <option value="มหาสารคาม">มหาสารคาม</option>
    <option value="มุกดาหาร">มุกดาหาร</option>
    <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
    <option value="ยโสธร">ยโสธร</option>
    <option value="ยะลา">ยะลา</option>
    <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
    <option value="ระนอง">ระนอง</option>
    <option value="ระยอง">ระยอง</option>
    <option value="ราชบุรี">ราชบุรี</option>
    <option value="ลพบุรี">ลพบุรี</option>
    <option value="ลำปาง">ลำปาง</option>
    <option value="ลำพูน">ลำพูน</option>
    <option value="เลย">เลย</option>
    <option value="ศรีสะเกษ">ศรีสะเกษ</option>
    <option value="สกลนคร">สกลนคร</option>
    <option value="สงขลา">สงขลา</option>
    <option value="สตูล">สตูล</option>
    <option value="สมุทรปราการ">สมุทรปราการ</option>
    <option value="สมุทรสงคราม">สมุทรสงคราม</option>
    <option value="สมุทรสาคร">สมุทรสาคร</option>
    <option value="สระแก้ว">สระแก้ว</option>
    <option value="สระบุรี">สระบุรี</option>
    <option value="สิงห์บุรี">สิงห์บุรี</option>
    <option value="สุโขทัย">สุโขทัย</option>
    <option value="สุพรรณบุรี">สุพรรณบุรี</option>
    <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
    <option value="สุรินทร์">สุรินทร์</option>
    <option value="หนองคาย">หนองคาย</option>
    <option value="หนองบัวลำภู">หนองบัวลำภู</option>
    <option value="อ่างทอง">อ่างทอง</option>
    <option value="อำนาจเจริญ">อำนาจเจริญ</option>
    <option value="อุดรธานี">อุดรธานี</option>
    <option value="อุตรดิตถ์">อุตรดิตถ์</option>
    <option value="อุทัยธานี">อุทัยธานี</option>
    <option value="อุบลราชธานี">อุบลราชธานี</option>
</select>

<!--<select class="form-control">
    <option selected="selected" value="0">- ทั้งหมด -</option>
    <option value="81">กระบี่</option>
    <option value="10">กรุงเทพมหานคร</option>
    <option value="71">กาญจนบุรี</option>
    <option value="46">กาฬสินธุ์</option>
    <option value="62">กำแพงเพชร</option>
    <option value="40">ขอนแก่น</option>
    <option value="22">จันทบุรี</option>
    <option value="24">ฉะเชิงเทรา</option>
    <option value="20">ชลบุรี</option>
    <option value="18">ชัยนาท</option>
    <option value="36">ชัยภูมิ</option>
    <option value="86">ชุมพร</option>
    <option value="57">เชียงราย</option>
    <option value="50">เชียงใหม่</option>
    <option value="92">ตรัง</option>
    <option value="23">ตราด</option>
    <option value="63">ตาก</option>
    <option value="26">นครนายก</option>
    <option value="73">นครปฐม</option>
    <option value="48">นครพนม</option>
    <option value="30">นครราชสีมา</option>
    <option value="80">นครศรีธรรมราช</option>
    <option value="60">นครสวรรค์</option>
    <option value="12">นนทบุรี</option>
    <option value="96">นราธิวาส</option>
    <option value="55">น่าน</option>
    <option value="38">บึงกาฬ</option>
    <option value="31">บุรีรัมย์</option>
    <option value="13">ปทุมธานี</option>
    <option value="77">ประจวบคีรีขันธ์</option>
    <option value="25">ปราจีนบุรี</option>
    <option value="94">ปัตตานี</option>
    <option value="14">พระนครศรีอยุธยา</option>
    <option value="56">พะเยา</option>
    <option value="82">พังงา</option>
    <option value="93">พัทลุง</option>
    <option value="66">พิจิตร</option>
    <option value="65">พิษณุโลก</option>
    <option value="76">เพชรบุรี</option>
    <option value="67">เพชรบูรณ์</option>
    <option value="54">แพร่</option>
    <option value="83">ภูเก็ต</option>
    <option value="44">มหาสารคาม</option>
    <option value="49">มุกดาหาร</option>
    <option value="58">แม่ฮ่องสอน</option>
    <option value="35">ยโสธร</option>
    <option value="95">ยะลา</option>
    <option value="45">ร้อยเอ็ด</option>
    <option value="85">ระนอง</option>
    <option value="21">ระยอง</option>
    <option value="70">ราชบุรี</option>
    <option value="16">ลพบุรี</option>
    <option value="52">ลำปาง</option>
    <option value="51">ลำพูน</option>
    <option value="42">เลย</option>
    <option value="33">ศรีสะเกษ</option>
    <option value="47">สกลนคร</option>
    <option value="90">สงขลา</option>
    <option value="91">สตูล</option>
    <option value="11">สมุทรปราการ</option>
    <option value="75">สมุทรสงคราม</option>
    <option value="74">สมุทรสาคร</option>
    <option value="27">สระแก้ว</option>
    <option value="19">สระบุรี</option>
    <option value="17">สิงห์บุรี</option>
    <option value="64">สุโขทัย</option>
    <option value="72">สุพรรณบุรี</option>
    <option value="84">สุราษฎร์ธานี</option>
    <option value="32">สุรินทร์</option>
    <option value="43">หนองคาย</option>
    <option value="39">หนองบัวลำภู</option>
    <option value="15">อ่างทอง</option>
    <option value="37">อำนาจเจริญ</option>
    <option value="41">อุดรธานี</option>
    <option value="53">อุตรดิตถ์</option>
    <option value="61">อุทัยธานี</option>
    <option value="34">อุบลราชธานี</option>
</select>-->