@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/node_modules/react/dist/react.min.js")"></script>
    <script src="@Url.Content("~/node_modules/react-dom/dist/react-dom.min.js")"></script>
    <script src="@Url.Content("~/node_modules/modernizr/bin/modernizr")"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div class="container-fluid">
        <div id="root"></div>
        <script src="@Url.Content("~/Scripts/Search.jsx")"></script>
    </div>
</body>
</html>
