 @{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="~/src/client/app/search.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>

<body>
	<div id="app" />
	<script src="~/src/client/build/bundle.js" type="text/javascript"></script>
</body>

</html>