<appSettings>
  <add key="EndPointUrl" value="https://fresdocumentdb.documents.azure.com:443/" />
  <add key="AuthorizationKey" value="JyJIGLvVXWnyZlT10tbjE35UjuVS71zPdyNQvGBis2kJLj9ysTTkbM6Rn5a5OrlwZYP4BbKXfdhIXZAnerNtVg==" />
  <add key="DatabaseId" value="fresdb" />
  <add key="CollectionId" value="frescollection" />
</appSettings>