.searchForm{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 1px #bed2e1 solid;
}
.card {
    background-color: #333; 
    border-color: #333;
    margin-bottom: .75rem;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: .25rem;
    display:block;
    height: 400px;
}
.img-responsive
{
    width:100%;
    max-height: 300px;
}
.card-title
{
    padding-left:10px;
    color:rgba(255,255,255,1);
}
.card-text
{
    padding-left:10px;
    color:rgba(255,255,255,.65);
}
