<div class="home">
    <h2>FRES</h2>
    <h4>Welcome to Foreclosure Real Estate Search Engine</h4>
    <br />
    <p>This website gather foreclosure properties from various banks in Thailand.</p>
    <ul>
        <li><a href='http://www.ghbhomecenter.com/ghb'>Government Housing Bank (GHB)</a></li>
        <li><a href='http://properties.gsb.or.th/'>Government Savings Bank (GSB)</a></li>
        <li><a href='http://www.npashowroom.ktb.co.th/WebShowRoom/SearchServlet'>Krung Thai Bank (KTB)</a></li>
        <li><a href='http://www.buyatsiam.com/'>Siam Commercial Bank (SCB)</a></li>
        <li><a href='http://www.thanachartnpa.com/'>Thanachart Bank</a></li>
    </ul>
    <br />
    <h4>Technology Used in the website</h4>
    <ul>
        <li>.Net Core</li>
        <li>AngularJS</li>
        <li>Bootstrap</li>
        <li>Azure Cosmos DB</li>
        <li>Azure CDN</li>
    </ul>
    <br />
    <h4>How do I gather all the properties</h4>
    <p>
        I basically download content in HTML for mat from each websites.
        HTML is then transformed into json format.
        The challenges are that each website has their own navigation system and HTML structure.
        After that, the locations (lat, lon) is retrieved by selenium from
        <a href='http://dolwms.dol.go.th/tvwebp/'>landmap</a>
    </p>
    <ul>
        <li>.Net Framework 4.6</li>
        <li>SQL CE + Entity Framework</li>
        <li>HTML Agility Pack</li>
        <li>Selenium</li>
        <li>Lot of regular expressions</li>
    </ul>
</div>